<div class="d-flex flex-column w-75 mx-auto mt-3">
    <h1 class="text-center text-primary bg-primary-subtle border border-primary-subtle border-2 rounded-3">Fun For Nerds</h1>
    <app-input-component (wordTyped)="onInput($event)" (wordSubmited)="onSubmit($event)"></app-input-component>
    <div class="d-flex justify-content-between">
        <app-odd-length-words [word]="wordOdd" [oddWords]="oddWords"></app-odd-length-words>
        <app-even-length-words [word]="wordEven" [evenWords]="evenWords"></app-even-length-words>
    </div>
</div>
